extends ../_layout/default.jade

block content
	.row
		.col-md-5.col-md-offset-4
			.alert(role="alert")#message!= 'Please login to view the admin pages'
	.row
		.col-md-6.col-md-offset-3
			form.form(method="POST" action="/admin/login")
				.form-group.row
					label.col-sm-2.form-control-label(for="username")!= 'Email'
					.col-sm-10
						input.form-control(type='text' placeholder='Username' name='username' id='username')
				.form-group.row
					label.col-sm-2.form-control-label(for="password")!= 'Password'
					.col-sm-10
						input.form-control(type='password' placeholder='password' name='password' id='password')
				.form-group.row
					.col-sm-offset-2.col-sm-10
						button.btn.btn-secondary#btnSubmit Login
