footer#footer.footer

//- Footer scripts
block scripts
	script(src="/js/lib/jquery-2.1.4.min.js")
	script(src="/js/lib/tether.min.js")
	script(src="/js/lib/bootstrap.min.js")
	script(src="/js/app.js")