//- Include header
include ../_includes/header.jade

//- Header
header#header.header
	nav.navbar.navbar-light.bg-faded
		a.navbar-brand(href="/")= headerTitle
		.pull-xs-right
			a.btn.btn-success-outline(href='/admin')!= 'Admin'

//- Content
section#content.container
	block content

//- Include footer
include ../_includes/footer.jade