extends _layout/default.jade

block content
	.row
		each car in cars
			.col-md-4
				.card
					.card-block
						h4.card-title!= car.name
						h6.card-subtitle.text-muted!= car.price
					img(src='http://lorempixel.com/350/200/transport/' alt!= car.name)
					.card-block
						p.card-text!= car.color
						a.card-link(href!= car._id)!= 'Detail'