extends ../_layout/default.jade

block content
	.row
		each car in cars
			.col-md-4
				.card
					.card-block
						h4.card-title!= car.name
						h6.card-subtitle.text-muted!= car.price
					.card-img
						img(src!='/uploads/' + car.image)
					.card-block
						p.card-text!= car.color
						a.card-link(href!= '/photo/' + car._id)!= 'Detail'